.ct-car-card-container{
    background-color: white;
    border: 1px solid #3C9AF0;
    border-radius: 10px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ct-car-card-container img{
    width: 391px;
    margin-top: 20px;
}

.ct-car-card-container p{
    margin-top: 10px;
    font-weight: 700;
    font-size: 20px;
    color: #5E5E5E;
  
}

